<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>集計</title>
</head>
<body>
    <h1>集計</h1>
    <!-- 課題3 -->
    <h2>総得点</h2>
    <table>
        <thead>
            <tr>
                <th th:each="name : ${names}" th:text="${name}"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:each="totalScore : ${totalScores}" th:text="${totalScore}"></td>
            </tr>
        </tbody>
    </table>
    <h2>平均点</h2>
    <table>
        <thead>
            <tr>
                <th>テスト1</th>
                <th>テスト2</th>
                <th>テスト3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${#aggregates.avg(scores1)}">テスト1の平均点</td>
                <td th:text="${#aggregates.avg(scores2)}">テスト2の平均点</td>
                <td th:text="${#aggregates.avg(scores3)}">テスト3の平均点</td>
            </tr>
        </tbody>
    </table>
</body>
</html>